S3method(predict,ktsp)
S3method(print,ktsp)
S3method(summary,ktsp)
export(CalcAUC)
export(CalcAcc)
export(cvsplits)
export(cvtrain)
export(ktspbestk)
export(ktspcalc)
export(ktspplotpairs)
export(ktsppredmat)
export(ktspshrink)
export(ktsptrainnn)
export(ktsptrainrf)
export(majorityPredict)
export(noReg)
export(simpleReg)
import(ROCR)
import(caret)
import(dplyr)
import(ggplot2)
import(nnet)
import(randomForest)
useDynLib(ktsp)
